// vars colors
$color-primary: #A2CCE2; //light blue
$color-secondary: #0A3378; //dark blue
$color-third: #1C1D1F; //dark background
$color-fourth: #B0AFB1; //footer background
$color-fifth: #151517; //footer background
$color-sixth: #F6F6F6; //light background
$color-seventh: rgba(0,0,0,0.47); //overlay image
$color-eighth: #FFFFFF; //overlay image

// vars fonts
$font-primary: 'Stellar-light', Arial, Sans-Serif;
$font-secondary: 'Avenir-Medium', Arial, Sans-Serif;
$font-third: 'Avenir-Book', Arial, Sans-Serif;
$font-fourth: 'Avenir-Black', Arial, Sans-Serif;


//fonts
@font-face {
    font-family: 'Stellar-light';
    src: url('../fonts/Stellar-light.otf') format('opentype');
}
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.ttf') format('truetype');
}


// overwrite bootstrap
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


// general rules
a:focus {outline: none;}

img {max-width: 100%;}

.bg-third {background-color: $color-third;}


// buttons
.btn--primary {
  font-family: $font-fourth;
  font-size: 17px;
  font-weight: 400;
  color: #AECBE1;
  border: 1px solid #AECBE1;
  padding: 10px 25px;
}
.btn--primary:hover {
  color: #AECBE1;
}
.btn--primary:hover::after {
  content:"";
  position: absolute;

}


// header
.b--header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  padding-top: 71px;
  padding-left: 66px;
  vertical-align: middle;
  color: white;
  z-index: 10;
  .brand {
    display: inline-block;
    height: 71px;
    padding-top: 18px;
    padding-right: 30px;
    border-right: 2px solid #D8D8D8;
  }
  h2 {
    display: inline-block;
    font-family: $font-third;
    font-size: 25px;
    line-height: 76px;
    padding-left: 30px;
  }
}


nav {
  position: relative;
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  list-style:none;
  vertical-align: middle;
  box-sizing: border-box;
  a {
    font-family: $font-third;
    h1 {
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 25px;
    }
  }
  a:hover {text-decoration: none;}
  #cloud, #enterprise, #digital {
    position: absolute;
    padding-top: 41vh;
    width: 33.33333%;
    height: 100vh;
    color: white;
    font-size: 60px;
    text-align: center;
    display: block;
    overflow: hidden;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  #cloud {
    left: 0;
    background-image: url('../@img_extra/cloud.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }
  #enterprise {
    left: 33.33333%;
    right: 33.33333%;
    background-image: url('../@img_extra/enterprise.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  #digital {
    right: 0 !important;
    background-image: url('../@img_extra/digital.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
  #cloud.cloud--is-active,
  #enterprise.enterprise--is-active {
    animation-name: expand;
  }
  @keyframes expand {
    0% {width: 33.33333%;z-index: 3;}
    100% {width: 100%; left: 0; right: 0; z-index: 3;}
  }
  #digital.digital--is-active {
    animation-name: digitalexpand;
  }
  @keyframes digitalexpand {
    0% {width: 33.33333%; z-index: 3; right: 0;}
    100% {width: 100%; right: 0; z-index: 3;}
  }
  #cloud.cloud--is-shown {
    animation-name: collapseback;
  }
  @keyframes collapseback {
    0% {width: 100%; left: 0%; right: 0%; z-index: 3;}
    100% {width: 33.33333%;  left: auto; right: auto; z-index: 3;}
  }
  #enterprise.enterprise--is-shown {
   animation-name: enterprisecollapseback;
  }
  @keyframes enterprisecollapseback {
   0% {width: 100%; left: 0; right: 0; z-index: 3;}
   100% {width: 33.33333%; left: 33.33333%; right: 33.33333%; z-index: 3;}
  }
  #digital.digital--is-shown {
    animation-name: digitalcollapseback;
  }
  @keyframes digitalcollapseback {
    0% {width: 100%; left: 0%; right: 0%; z-index: 3;}
    100% {width: 33.33333%; left: 66.66666%; right: 0%; z-index: 3;}
  }
  #cloud.link--open,
  #enterprise.link--open,
  #digital.link--open {
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .link, .link--open {
    pointer-events: none;
  }
}








.navigation {
  position: fixed;
  display: none;
  top: 45%;
  left: 30px;
  z-index: 100;
  color: white;
  ul {
    list-style: none;
    a {
      display: block;
      text-align: center;
      width: 16px;
      height: 16px;
      border-radius: 32px;
      background-color: white;
      margin-bottom: 10px;
      &:hover, &:active {
        opacity: .6
      }
      &.trigger-section--is-active {
        background-color: $color-primary;
      }
    }
  }
  &.navigation--is-active{
    display:block
  }
}

.b--article {
  padding-top: 124px;
  padding-bottom: 126px;
  .b--info {
    &__title {
      font-family: $font-third;
      color: $color-primary;
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 40px
    }
    &__content {
      font-family: $font-third;
      color: $color-eighth;
      font-size: 20px;
      letter-spacing: 0.05em;
      line-height: 30px;
      margin-bottom: 40px
    }

  }
}
