
#back {
  position: absolute;
  top: 50px;
  left: 30px;
  color: white;
  z-index: 3;
}

nav {
  position: relative;
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  list-style:none;
  vertical-align: middle;
  box-sizing: border-box;
}
#cloud, #enterprise, #digital {
  position: absolute;
  width: 33.33333%;
  height: 100vh;
  color: white;
  font-size: 60px;
  text-align: center;
  display: block;
  overflow: hidden;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 1;
}
#cloud{
  left: 0;
  background-color: red;
}
#enterprise {
  left: 33.33333%;
  right: 33.33333%;
  background-color: blue;
}
#digital {
  right: 0 !important;
  background-color: green;
}


#cloud.cloud--is-active,
#enterprise.enterprise--is-active {
  animation-name: expand;
}
@keyframes expand {
  0% {width: 33.33333%;z-index: 3;}
  100% {width: 100%; left: 0; right: 0; z-index: 3;}
}

#digital.digital--is-active {
  animation-name: digitalexpand;
}
@keyframes digitalexpand {
  0% {width: 33.33333%; z-index: 3; right: 0;}
  100% {width: 100%; right: 0; z-index: 3;}
}



#cloud.cloud--is-shown {
  animation-name: collapseback;
}
@keyframes collapseback {
  0% {width: 100%; left: 0%; right: 0%; z-index: 3;}
  100% {width: 33.33333%;  left: auto; right: auto; z-index: 3;}
}

#enterprise.enterprise--is-shown {
 animation-name: enterprisecollapseback;
}
@keyframes enterprisecollapseback {
 0% {width: 100%; left: 0; right: 0; z-index: 3;}
 100% {width: 33.33333%; left: 33.33333%; right: 33.33333%; z-index: 3;}
}

#digital.digital--is-shown {
  animation-name: digitalcollapseback;
}
@keyframes digitalcollapseback {
  0% {width: 100%; left: 0%; right: 0%; z-index: 3;}
  100% {width: 33.33333%; left: 66.66666%; right: 0%; z-index: 3;}
}



#cloud.link--open,
#enterprise.link--open,
#digital.link--open {width: 100%; left: 0; right: 0;z-index: 2;}
