// vars colors
$color-primary: #A2CCE2; //light blue
$color-secondary: #0A3378; //dark blue
$color-third: #1C1D1F; //dark background
$color-fourth: #B0AFB1; //footer background
$color-fifth: #151517; //footer background
$color-sixth: #F6F6F6; //light background
$color-seventh: rgba(0,0,0,0.47); //overlay image

// vars fonts





//fonts
@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


// general rules
a:focus {
  outline: none;
}

// overwrite bootstrap
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

// buttons
.btn--primary {
  font-weight: 400;
  color: #AECBE1;
  border: 1px solid #AECBE1;
  padding: 10px 25px;
}
.btn--primary:hover {
  color: #AECBE1;
}
.btn--primary:hover::after {
  content:"";
  position: absolute;

}

.b--header {
  position: fixed;
  top: 50px;
  left: 30px;
  color: white;
  z-index: 3;
  #back {
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    vertical-align: middle;
  }
}


nav {
  position: relative;
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  list-style:none;
  vertical-align: middle;
  box-sizing: border-box;
}
#cloud, #enterprise, #digital {
  position: absolute;
  padding-top: 41vh;
  width: 33.33333%;
  height: 100vh;
  color: white;
  font-size: 60px;
  text-align: center;
  display: block;
  overflow: hidden;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 1;
}
#cloud{
  left: 0;
  background-color: red;
}
#enterprise {
  left: 33.33333%;
  right: 33.33333%;
  background-color: blue;
}
#digital {
  right: 0 !important;
  background-color: green;
}


#cloud.cloud--is-active,
#enterprise.enterprise--is-active {
  animation-name: expand;
}
@keyframes expand {
  0% {width: 33.33333%;z-index: 3;}
  100% {width: 100%; left: 0; right: 0; z-index: 3;}
}

#digital.digital--is-active {
  animation-name: digitalexpand;
}
@keyframes digitalexpand {
  0% {width: 33.33333%; z-index: 3; right: 0;}
  100% {width: 100%; right: 0; z-index: 3;}
}



#cloud.cloud--is-shown {
  animation-name: collapseback;
}
@keyframes collapseback {
  0% {width: 100%; left: 0%; right: 0%; z-index: 3;}
  100% {width: 33.33333%;  left: auto; right: auto; z-index: 3;}
}

#enterprise.enterprise--is-shown {
 animation-name: enterprisecollapseback;
}
@keyframes enterprisecollapseback {
 0% {width: 100%; left: 0; right: 0; z-index: 3;}
 100% {width: 33.33333%; left: 33.33333%; right: 33.33333%; z-index: 3;}
}

#digital.digital--is-shown {
  animation-name: digitalcollapseback;
}
@keyframes digitalcollapseback {
  0% {width: 100%; left: 0%; right: 0%; z-index: 3;}
  100% {width: 33.33333%; left: 66.66666%; right: 0%; z-index: 3;}
}


#cloud.link--open,
#enterprise.link--open,
#digital.link--open {
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}

.link, .link--open {
  pointer-events: none;
}


.navigation {
  position: fixed;
  display: none;
  top: 45%;
  left: 30px;
  z-index: 100;
  color: white;
  ul {
    list-style: none;
    a {
      display: block;
      text-align: center;
      width: 16px;
      height: 16px;
      border-radius: 32px;
      background-color: white;
      margin-bottom: 10px;
      &:hover, &:active {
        opacity: .6
      }
      &.trigger-section--is-active {
        background-color: $color-primary;
      }
    }
  }
}
